<!-- Navbar at the top of the page  -->
<header>
    <nav class="principal_navbar">
        <ul>
            <li class="el_icon"><a href="default.asp"><i class="material-icons">toc</i></a></li>
            <li class="el_logo">
                <div id="main_logo"></div>
            </li>
            <li class="el_search">
                <input id="search" name="search_query" type="text" placeholder="  Rechercher" class="searchbox">
            </li>
            <li class="el_search_button">
                <button id="search_button"><i class="fa fa-search" aria-hidden="true"></i></button>
            </li>
            <li class="el_empty">
                <a href="#" "></a></li>
          <li class="el_icon "><a href="about.asp "><i class="material-icons ">file_upload</i></a></li>

          <li class="el_icon "><a href="about.asp "><i class="material-icons ">apps</i></a></li>

          <li class="el_icon "><a href="about.asp "><i class="material-icons ">add_alert</i></a></li>

          <li class="el_icon "><a href="about.asp "><button class="session_icon ">L</button></a></li>
      </ul>
      <hr class="separator_main ">
    </nav>
    <div class="clear "></div>
</header>

</br>
</br>
</br></br></br>

<div class ="main ">
<!-- Navbar with the videos  -->
<section class="video_comments ">
    <!-- Part with the main video and it's description  -->
    <div class="video ">
        <div class="intrinsic-container intrinsic-container-16x9 "><iframe src="https://www.youtube.com/embed/XGSy3_Czz8k?wmode=transparent " wmode="opaque ">
        </iframe></div>
        <h2 font="arial "> My name is Stain </h2>
        <!-- Buttons video  -->
        <div class="buttons_video ">
            <h3> 1 845 views </h3>
            <div class="buttons_video_second_level ">
               <span> 3 </span><i class="material-icons ">thumb_up</i>
               <span> 3 </span><i class="material-icons ">thumb_down</i>
               <i class="material-icons ">share</i>
               <i class="material-icons ">playlist_add</i>
               <i class="material-icons ">more_horiz</i>
               <i> </i>
            </div>
        </div>
        <hr class="separator_secondary ">
        <!-- Description video  -->
        
        <div class="description_video">
           <div class="description_video_1"> <%= image_tag "icon_channel.png"%> </div>
            <div class="description_video_2 ">
                <h4><strong>Asheraz</strong></h4>
                <h5>Added on 2nd of January</h5>
                <p>
                    When our tests fail all we get is output in a terminal. Testing is core to the culture of Ruby, and the tools are sophisticated, but something big is missing from the workflow. Namely, a powerful debugger.
                </p>
            </div>
            <div class="description_video_3 "><button class="description_video_3_button "><strong>S'ABONNER</strong></button></div>
        </div>
    </div>

    <!-- Part with all the comments  -->
    <div class="comments ">
        
    </div>
</section>

<!-- "Navbar " with the videos on the side -->
<aside class="two ">
  <div class="autoplay">

  </div>

  <div class="video_s ">
  <img width="168 " height="94 " src="http://via.placeholder.com/168x94 " frameborder="0 " allowfullscreen></img>
  <div class="info "><h3>Titre de la video</h3>
  <p>Random text test</p></div>
  </div>

   <div class="video_s ">
  <img width="168 " height="94 " src="http://via.placeholder.com/168x94 " frameborder="0 " allowfullscreen></img>
  <div class="info "><h3>Titre de la video</h3>
  <p>Random text test</p></div>
</div>

  <div class="video_s ">
  <img width="168 " height="94 " src="http://via.placeholder.com/168x94 " frameborder="0 " allowfullscreen></img>
  <div class="info ">
    <h3>Titre de la video</h3>
    <p>Random text test</p>
  </div>
  </div>

   <div class="video_s ">
  <img width="168 " height="94 " src="http://via.placeholder.com/168x94 " frameborder="0 " allowfullscreen></img>
    <div class="info ">
    <h3>Titre de la video</h3>
  <p>Random text test</p></div>
</div>

   <div class="video_s ">
  <img width="168 " height="94 " src="http://via.placeholder.com/168x94 " frameborder="0 " allowfullscreen></img>
  <div class="info "><h3>Titre de la video</h3>
  <p>Random text test</p></div>
</div>

   <div class="video_s ">
  <img width="168 " height="94 " src="http://via.placeholder.com/168x94 " frameborder="0 " allowfullscreen></img>
  <div class="info "><h3>Titre de la video</h3>
  <p>Random text test</p></div>
</div>

   <div class="video_s ">
  <img width="168 " height="94 " src="http://via.placeholder.com/168x94 " frameborder="0 " allowfullscreen></img>
  <div class="info "><h3>Titre de la video</h3>
  <p>Random text test</p></div>
</div>

   <div class="video_s ">
  <img width="168 " height="94 " src="http://via.placeholder.com/168x94 " frameborder="0 " allowfullscreen></img>
  <div class="info "><h3>Titre de la video</h3>
  <p>Random text test</p></div>
</div>

   <div class="video_s ">
  <img width="168 " height="94 " src="http://via.placeholder.com/168x94 " frameborder="0 " allowfullscreen></img>
  <div class="info "><h3>Titre de la video</h3>
  <p>Random text test</p></div>
</div>

   <div class="video_s ">
  <img width="168 " height="94 " src="http://via.placeholder.com/168x94 " frameborder="0 " allowfullscreen></img>
  <div class="info "><h3>Titre de la video</h3>
  <p>Random text test</p></div>
</div>

   <div class="video_s ">
  <img width="168 " height="94 " src="http://via.placeholder.com/168x94 " frameborder="0 " allowfullscreen></img>
  <div class="info "><h3>Titre de la video</h3>
  <p>Random text test</p></div>
</div>

   <div class="video_s ">
  <img width="168 " height="94 " src="http://via.placeholder.com/168x94 " frameborder="0 " allowfullscreen></img>
  <div class="info "><h3>Titre de la video</h3>
  <p>Random text test</p></div>
</div>
  
</aside>
</div>