<html>
  <head></head>
  <body>
    <form>
  		<input type='text' name='guess' />
 		<input type='submit' value='Guess!' />
	</form>
    <p>
      <%= message %>
      <%= secret_number_message %>
    </p>
  </body>
</html>

