<div class="center jumbotron">
  <h1>Welcome to the Event App</h1>

  <h2>
    This is the home page for the
    <a href="https://www.eventbrite.fr/">EventBrite</a>
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
